{% extends 'base.html' %}
{% block content %}

    <div class="content">
      <h1 style="font-size: 35px;">О сервисе</h1>
      <p>oiasd poij fdasjdf sadiof jaosd jfoja sdlfhj sodiafjh o;sadfj sadjf sadfj oasdjf oisajd foasi fhjoiasd fjoiasd joisadj foisadjfsa 
        fsad fsadfsapodf sadjf ;sadjf psaodjf pasoj fposadj fp[sadjf p[asjdf psajdf psdajfposajdpfojsadopfj asdf sadfjsadfio;asj dfsd
        asdio jasd fjsad fjopisadj fopisadj foiasj dfoisjd fiosjdafs
        adf siad fjsaidj fiosaj dfiosaj df]]
      </p>
    <!-- <img src="~/assets/img/slider.png" alt=""> -->
  </div>
<style></style>
{% endblock %}