{% extends 'base_site.html' %}{% load static %}
{% block content %}
    <div class="content"  v-if="loaded" data-aos="fade-down" style="display: grid;">
    <div class="chat-layout">
      {% include 'chat_nav.html' %}
    {% for i in dialogs %}
      {%if request.user.id == i.user.id %}
      <a href="{% url 'message' i.with_user.id %}" class="message_chat">
      {%else%}
      <a href="{% url 'message' i.user.id %}" class="message_chat">
      {%endif%}    
         <div class="chat-messege">
          
            {%if request.user.id == i.user.id%}
              {% if i.with_user.photo and i.with_user.photo.url %}
                <img src="{{i.with_user.photo.url}}" alt="">
              {% else %}
                <img src="" alt="">
              {%endif%}                
            {%endif%}  
            
            {%if request.user.id == i.with_user.id%}
              {%if i.user.photo.url and i.user.photo%}
                <img src="{{i.user.photo.url}}" alt="">
              {%else%}
                <img src="" alt="">
              {%endif%}
            {%endif%}
          
        
        <div class="chat-messege-user-info">
        <div class="info-message">
          {%if i.user.id == request.user.id%}
           <span>{{i.with_user.first_name}}</span>
          {%else%}
           <span>{{i.user.first_name}}</span>
          {%endif%}         
          
          <p>{{ i.last_message.content }}</p>
        </div>
        <!-- <button><img src="{% static 'img/favorite.png' %}" alt=""></button> -->
        </div>
        </div>
      </a>
    {% endfor %}
    <!-- <NuxtLink to="/chat/message">
    <div class="chat-messege">
    <img src="{% static 'img/photo.png' %}" alt="">
    <div class="chat-messege-user-info">
    <div class="info-message">
      <span>Алёна</span><p>Отвези меня в Дубай ...</p>
    </div>
    <button><img src="{% static 'img/favorite.png' %}" alt=""></button>

    </div>
    </div>
  </NuxtLink>
  <NuxtLink to="/chat/message">
    <div class="chat-messege">
    <img src="{% static 'img/photo2.png' %}" alt="">
    <div class="chat-messege-user-info">
    <div class="info-message">
      <span>Алёна</span><p>Отвези меня в Дубай ...</p>
    </div>
    <button><img src="{% static 'img/favorite.png' %}" alt=""></button>
    </div>
    </div>
  </NuxtLink> -->
    <div class="chat-content"></div>
    </div>
  </div>
</div>
<style>

a.message_chat{
  width: 100%!IMPORTANT;
}

  .prime-chat-menu{
    display: flex;
    min-width: -moz-max-content;
    min-width: max-content;
    border-right: 1px solid #DDDDDD;
    padding: 0px 0px 0px 0px;
    margin: 0px 15px 0px 0px;
}
.chat-nav a{
    font-weight: 700;
    cursor: pointer;
    color: #A4A4A4;
    font-size: 15px;
    min-width: -moz-max-content;
    min-width: max-content;
    margin: 0px 9px 0px 0px;
    padding: 5px 9px 5px 9px;
    border-radius: 9px;
}
.chat-nav a.active{
    color: #666666;
    background-color: #EFEFEF;
}
.users-folder-add label{
  display: flex;
  align-items: center;
  width: 97%!IMPORTANT;
  cursor: pointer;
}.users-folder-add label:hover{opacity: 0.5;}.users-folder-add{
  display: flex;
  align-items: center;
  width: 100%;
  cursor: pointer;
}.users-folder-add input{
  margin: 0px 0px 0px 0px!IMPORTANT;
  width: max-content!IMPORTANT;
  border-bottom: 1px solid #DDDDDD;
}
.users-folder-add{
  display: flex;
  align-items: center;
  margin: 0px 0px 15px 0px;
  cursor: pointer;
}.users-folder-add img{
  margin: 0px 15px 0px 0px;
}
.users-folder{}
.users-folder img{
  width: auto;
  height: 25px;
  border-radius: 50px;
}
.addFavorite{

}.addFavorite input{
  width: 100%;
  outline: none;
  margin: 0px 0px 15px 0px;
}.addFavorite button{
  font-size: 15px;
  font-weight: 700;
  background-color: #4dd8cf;
  border-radius: 50px;
  padding: 9px 15px 9px 15px;
  color: #000000;
  margin: 15px 0px 0px 0px;
}
.chat-folders-layout{
  width: 97%;
  display: flex;
  align-items: center;
}
.chat-folders{
  width: 79%;
  width: calc(100% - 35px);
  display: inline-flex;
  align-items: center;
  overflow: hidden;
  overflow-x: auto;
}.chat-folders a img{
  margin: 0px 9px 0px 0px;
  line-height: 0;
}.chat-folders a{
  width: max-content;
  display: inline-flex;
  align-items: center;
  padding: 5px 9px 5px 9px;
  border-radius: 9px;
  margin: 0px 9px 0px 0px!IMPORTANT;
}.chat-folders a:hover{
  background-color: #EFEFEF;
}
.prime-chat-menu{
  display: flex;
  min-width: max-content;
  border-right: 1px solid #DDDDDD;
  padding: 0px 0px 0px 0px;
  margin: 0px 15px 0px 0px;
}
.chat-nav{
  display: flex;
  align-items: center;
  padding: 5px 15px 15px 15px;
  width: 100%;
}.chat-nav h2{
  font-weight: 700;
  font-size: 19px;
  width: max-content;
  min-width: max-content;
  border-right: 1px solid #DDDDDD;
  margin: 0px 25px 0px 0px;
  padding: 0px 25px 0px 0px;
}.chat-nav span{
  color: #D2D2D2;
}
.chat-nav a{
  font-weight: 700;
  cursor: pointer;
  color: #A4A4A4;
  font-size: 15px;
  min-width: max-content;
  margin: 0px 9px 0px 0px;
  padding: 5px 9px 5px 9px;
  border-radius: 9px;
}.chat-nav a.active{
  color: #666666;
  background-color: #EFEFEF;
}.chat-nav a:hover{
  background-color: #EFEFEF;
}
.content{
  width: 100%;
}
.chat-layout{
  background-color: #F9F9F9;
  background-color: #FFFFFF;
  width: 100%;
  border-radius: 15px;
  padding: 15px 15px 15px 15px;
  padding: 9px 15px 0px 15px;
  display: flex;
  flex-direction: column;
  min-height: 70dvh;
  position: relative;
  max-width: 1009px;
  max-width: 100%;
  overflow: hidden;
}.chat-layout a{
  width: 100%;width: max-content;
  display: flex;
}.base-content{padding: 0px 0px 0px 0px!IMPORTANT;}
.chat-messege{
  width: 100%;
  padding: 12px 15px 12px 15px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  cursor: pointer;
}.chat-messege:hover{
  background-color: #EFEFEF;
}
.chat-messege img{
  width: auto;width: 45px;
  height: 45px;
  border-radius: 50px;
  margin: 0px 12px 0px 0px;
}.chat-messege-user-info{
  line-height: 1.2;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  position: relative;
}.chat-messege-user-info img{width: auto;height: 19px;cursor: pointer;}.chat-messege-user-info span{
  font-weight: 700;
  font-size: 17px;
}.chat-messege-user-info p{
  font-size: 14px;
  color: #A3A3A3;
}
.page-title-status{
  display: inline-flex;
  align-items: center;
  margin: 0px 0px 15px 0px;
  font-size: 12px;
}.page-title-status img{
  max-width: 15px;
}.page-title-status img{
  margin: 0px 9px 0px 0px;
}
.page-title-layout{
  border-bottom: 1px solid #D2D2D2;
  padding: 0px 0px 25px 0px;
  margin: 9px 0px 25px 0px;
  display: inline-flex;
  flex-direction: column;
}
.page-title-layout span{
  font-weight: 700;
}
.folder-creation{
  position: absolute;
  z-index: 99999;
    align-items: flex-start;
    top: 49px;
    top: 25px;
    z-index: 99999;
    background-color: #FFFFFF;
    width: 100%;
    padding: 15px 25px 25px 25px;
    max-width: 395px;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    height: auto;
    visibility: hidden;
    transition: all 0.3s;
    opacity: 0;
    right: 50px;

    & input{
      width: 100%;
    outline: none;
    margin: 0px 0px 15px 0px;
    padding: 15px 15px 15px 0px;
    font-size: 17px;
    border-radius: 35px;
    border: 1px solid #ffffff;
    }
    & button{
      font-size: 15px;
    font-weight: 700;
    background-color: #4dd8cf;
    border-radius: 50px;
    padding: 15px 15px 15px 15px;
    color: #000000;
    margin: 15px 0px 0px 0px;
}
    }
}

.isOpen{
  visibility: visible!IMPORTANT;
}
.folder-creation.isOpen{
  visibility: visible!IMPORTANT;
  transition: all 0.3s;
  opacity: 9;
  top: 49px;
  right: 50px;
}
.base-content{
  margin: 25px auto auto auto!IMPORTANT;
  padding: auto auto 25px auto!IMPORTANT;
}
</style>
{% endblock %}