 {% load static %}
 <div class="footer">
    <div
      class="footer-layout" data-aos="fade-up" data-aos-anchor-placement="center-bothrefm">
      <div class="footer-nav-layout">
        <ul>
          <span><a href="">Сервисы</a></span>
          <li><a href="{% url 'travels' %}">Поиск попутчиков</a></li>
          <li><a href="{% url 'trips' %}">Поиск поездок</a></li>
          <!-- <li><a href="{% url 'about' %}">О Сервисе</a></li> -->
        </ul>
        <ul>
          <span><a href="">Пользователям</a></span>
          <li><a href="{% url 'about' %}">О Сервисе</a></li>
          <!-- <li><a href="">Служба поддержки</a></li> -->
          <li><a href="{% static 'User_Agreement.pdf' %}" target="_blank">Пользовательское соглашение</a></li>
          <li><a href="{% static 'Privacy_Policy.pdf' %}" target="_blank">Политика конфиденциальности</a></li>
          <!-- <li><a href="">Правила рекомендаций</a></li> -->
        </ul>
        <ul>
          <span>Мы в социальных сетях</span>
          <li style="color: #00c7bb;color: blueviolet;color: #2e67d7;">support@kudaugodno.com</li>
          <li>ИНН: 595700546878</li>
          <li>Борисов Александр Александрович</li>
        </ul>
      </div>
      <div class="footer-copiryght-layout">
        <span>© 2023–2024 OOO «КудаУгодно»</span>
        <p>
          Поиск гостиниц идёт по огромной базе партнёров. Широкий выбор отелей и вариантов
          оплаты, проверенная информация, скидки и кешбэк, реальные отзывы и
          круглосуточная поддержка — наши главные преимущества и сильные стороны. Ещё один
          важный момент — вы точно попадёте в номер, то есть мы даём гарантию заселения.
        </p>
      </div>
    </div>
  </div>