  <div class="footer">
    <div
      class="footer-layout" data-aos="fade-up" data-aos-anchor-placement="center-bothrefm">
      <div class="footer-nav-layout">
        <ul>
          <span><a href="">Сервисы</a></span>
          <li><a href="">Поиск попутчиков</a></li>
          <li><a href="">О Сервисе</a></li>
        </ul>
        <ul>
          <span><a href="">Пользователям</a></span>
          <li><a href="">О Сервисе</a></li>
          <li><a href="">Служба поддержки</a></li>
          <li><a href="">Пользовательское соглашение</a></li>
          <li><a href="">Правила рекомендаций</a></li>
        </ul>
        <ul>
          <span>Мы в социальных сетях</span>
          <li></li>
        </ul>
      </div>
      <div class="footer-copiryght-layout">
        <span>© 2023–2024 OOO «Тревело.ру»</span>
        <p>
          Поиск гостиниц идёт по огромной базе партнёров. Широкий выбор отелей и вариантов
          оплаты, проверенная информация, скидки и кешбэк, реальные отзывы и
          круглосуточная поддержка — наши главные преимущества и сильные стороны. Ещё один
          важный момент — вы точно попадёте в номер, то есть мы даём гарантию заселения.
        </p>
      </div>
    </div>
  </div>