{% extends 'base.html' %}
{% block content %}

    <div class="content">
    <div class="hello-layout wow animate__fadeInDown">
      <h1 data-aos="fade-down">
       Путешествуй в компании
      </h1>
      <p>Travelo — это тысячи любителей впечатлений в одном месте</p>

      {% include 'components/search.html' %}
      {% include 'components/indexSearch.html' %}
      <style>
        .search-sites{max-width: 768px!IMPORTANT;padding: 9px 5px 9px 5px!IMPORTANT;}
      </style>
      <a href="{% url 'travels' %}" style="width:100%;"><button class="other">Ещё варианты</button></a>
    </div>


    {% include 'components/popularRoad.html' %}
    {% include 'components/indexFriends.html' %}
    
    <div class="info-slide wow animate__fadeInUp" data-aos="fade-up" data-aos-anchor-placement="center-bottom">
      <div class="info-slide-layout">
        <span>
          Запывпл ыжэлпжыэвлп эыжлп
          вадлоыва опжапо ждываоп вы
        </span>
        <p>
          ывлдаофыж даофжы оапфжоп жфдво пджлво пывжо дывоп ыовжрд оыро ывждлро ыап
          ывжр ывджлр оыапр оыдлро дывор джыордыаордлыаор дыворвоыр
          ывджлр оыдвлжорывдорджываордлаыопр
        </p>
        <button>Название кнопки</button>
      </div>
    </div>
    <!-- <img src="~/assets/img/slider.png" alt=""> -->
  </div>
<style></style>
{% endblock %}