{% extends 'base.html' %}
{% block content %}

    <div class="content">
    <div class="hello-layout wow animate__fadeInDown">
      <h1 data-aos="fade-down">
       Путешествуй в компании
      </h1>
      <p>Travelo — это тысячи любителей впечатлений в одном месте</p>

      {% include 'components/search.html' %}
      {% include 'components/indexSearch.html' %}
      <style>
        .search-sites{max-width: 768px!IMPORTANT;padding: 9px 5px 9px 5px!IMPORTANT;}
      </style>
      <a href="{% url 'travels' %}" style="width:100%;"><button class="other">Ещё варианты</button></a>
    </div>


    {% include 'components/popularRoad.html' %}
    {% include 'components/indexFriends.html' %}
    
    <div class="info-slide wow animate__fadeInUp" data-aos="fade-up" data-aos-anchor-placement="center-bottom">
      <div class="info-slide-layout">
        <span>
          Запывпл ыжэлпжыэвлп эыжлп
          вадлоыва опжапо ждываоп вы
        </span>
        <p>
          ывлдаофыж даофжы оапфжоп жфдво пджлво пывжо дывоп ыовжрд оыро ывждлро ыап
          ывжр ывджлр оыапр оыдлро дывор джыордыаордлыаор дыворвоыр
          ывджлр оыдвлжорывдорджываордлаыопр
        </p>
        <button>Название кнопки</button>
      </div>
    </div>
    <!-- <img src="~/assets/img/slider.png" alt=""> -->
  </div>
<style></style>
    <style>
        {#  .what-search-layout {#}
        {#  padding: 0px 0px 0px 0px !important;#}
        {#}#}
        form {
            width: 100%;
            max-width: 100%;
            border-radius: 0px;
            border: none;
            border-bottom: 2px solid #dddddd;
            box-shadow: none;
            margin: 0px 0px 25px 0px;
            background-color: #ffffff;
            padding: 0px 0px 15px 0px;
        }
        form:hover {
            box-shadow: none;
        }
        .where-layout input,
        select {
            background-color: inherit !important;
            width: 100%!IMPORTANT;
        }
        .where select {
            background-color: inherit !important;
            width: 100%!IMPORTANT;
        }.where{
             width: 100%!IMPORTANT;
         }
        .search-result {
            display: flex;
            width: 100%;
            margin: 0px 0px 25px 0px;
            padding: 0px 0px 25px 0px;
            border-bottom: 1px solid #dddddd;
            align-items: center;
            transition: all 0.3s;
            -moz-transition: all 0.3s;
            -webkit-transition: all 0.3s;
            position: relative;
            top: 0;
            opacity: 9;
        }.search-result:hover{
             position: relative;
             opacity: 0.7;
             top: 9px;
             transition: all 0.3s;
             -moz-transition: all 0.3s;
             -webkit-transition: all 0.3s;
         }
        .search-result img {
            width: auto;
            object-fit: cover;
            width: 135px;
            height: 135px;
            border-radius: 15px;
            margin: 0px 15px 0px 0px;
        }
        .search-result-info {
            display: flex;
            flex-direction: column;
        }
        .search-result-info h2 {
            font-weight: 700;
            font-size: 17px;
            margin: 0px 0px 5px 0px;
        }
        .search-result-info p {
            border-top: 1px solid #dddddd;
            margin: 9px 0px 9px 0px;
            padding: 9px 0px 0px 0px;
            font-size: 15px;
        }
        .search-info-status {
            display: inline-flex;
            align-items: center;
            font-size: 15px;
        }
        .search-info-status img {
            height: 17px;
            width: auto;
        }
        .search-info-status img {
            margin: 0px 5px 0px 0px;
        }
    </style>
{% endblock %}