{% extends 'base_site.html' %}{% load static %}
{% block content %}
    <div class="content">
    <div class="chat-layout">
    <div class="chat-nav" style="border-bottom: 1px solid #EEEEEE;display:flex;justify-content:space-between;">
      <div class="message-user-nav-layout">
        <a href="{% url 'chats' %}" style="width:max-content;"><img src="{% static 'img/left.png' %}" class="message-chat" /></a>
        <a href="{% url 'profile' recipient.id %}"><div class="message-user-nav">
          {%if recipient.photo.url and recipient.photo%}
          <img src="{{recipient.photo.url}}" />
          {%else%}
          <img src="" alt="">
          {%endif%}
          {{recipient.first_name}}</div></a>
      </div>


      <!-- <img src="{% static 'img/addmark.png' %}" class="message-addfavorite" /> -->

    </div>
    <div class="chat-content-message">
      {% for message in messages %}
        {%if request.user.id != message.recipient.id %}
        <div class="message right">
          <div class="message-content">
            <p>{{message.content}}</p>
            {% if request.user.photo and request.user.photo.url %}
            <img src="{{request.user.photo.url}}" />
            {% else %}
            <img src="" />
            {% endif %}
            
          </div>
        </div>
        {% elif request.user.id == message.recipient.id %}
        <div class="message right">
          <div class="message-content">
            <p>{{message.content}}</p>
            {% if request.user.photo and request.user.photo.url %}
            <img src="{{request.user.photo.url}}" />
            {% else %}
            <img src="" />
            {% endif %}
            
          </div>
        </div>
        {% else %}
        <div class="message left">
          <div class="message-content">
            <p>{{message.content}}</p>
            {% if request.user.photo and request.user.photo.url %}
            <img src="{{message.recipient.photo.url}}" />
            {% else %}
            <img src="" />
            {% endif %}
            
          </div>
        </div>
        {%endif%}  
      {% endfor %}
      
    <!-- <div class="message right">
      <div class="message-content">
        <p>Поехали со мной детка =)</p>
        <img src="{% static 'img/photo2.png' %}" />
      </div>
    </div>
    <div class="message left">
      <div class="message-content">
        <p>Хорошо :*</p>
        <img src="{% static 'img/photo.png' %}" />
      </div>
    </div> -->
    </div>
<!--        <form id='message-form'>-->
<!--          {% csrf_token %}-->
<!--          <input type="text" placeholder="Type a Message..." autocomplete="off" class='type-message' id='message'>-->
<!--          <input type='image' src="{%  static 'sendarrow.svg' %}" class="sendarrow" draggable="false"/>-->
<!--        </form>-->
    <div class="message-input">
      <form method="post" action="{% url 'message' recipient_id=recipient.id %}" style="width:100%;max-width:100%;padding: 0;margin: 0;box-shadow: 0;">
        {% csrf_token %}
        <input type="text" name="message_content" placeholder="Введите сообщение" required>
        <button type="submit" style="padding: 5px 15px; font-weight: 700;">
          <!-- Ок -->
          <svg width="21" height="18" viewBox="0 0 21 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 18L21 9L0 0V7L15 9L0 11V18Z"></path>
        </svg>
        </button>
    </form>
    {% comment %}
    <form action="{% url 'display_messages' recipient_id=recipient.id %}" method="post" style="width:100%;max-width:100%;padding: 0;margin: 0;box-shadow: 0;">
      {% csrf_token %}
      <input type="text" placeholder="Введите сообщение">
      <!-- <img src="{% static 'img/smile.png' %}" />
      <img src="{% static 'img/file.png' %}" style="right: 42px;" /> -->
      <button type="submit">dgfdfgd</button>
    </form>
    {% endcomment %}
    </div>
    </div>
  </div>
</div>
<style>
.content {
    max-width: 1279px;
    margin: auto auto 100px;
    margin: 9px auto 15px;
}

.message-user-nav-layout a{
  width: max-content;
  min-width: max-content;
  margin: 0px 0px 0px 0px;
}.message-user-nav-layout a img{
  margin: 0px 9px 0px 0px;
}.message-user-nav{
  color: #000000;
}
.message-chat img{}
img.message-chat:hover{
  opacity: 0.7;
  cursor: pointer;
}
.message-addfavorite{}
.message-addfavorite:hover{
  opacity: 0.7;
  cursor: pointer;
}
.message-user-nav-layout{
  display: flex;
  align-items: center;
}.message-user-nav:hover{
  opacity: 0.7;
  cursor: pointer;
}
.message-user-nav-layout img{
  margin: 0px 25px 0px 0px;
}
.message-input{
  border-top: #EEEEEE 1px solid;
  padding: 15px 0px 0px 0px;
  position: relative;
  align-items: center;
  display: flex;
}.message-input img{
  position: absolute;
  float: right;
  right: 15px;
}.message-input img:hover{
  cursor: pointer;
  opacity: 0.7;
}
.chat-layout input{
  border: 1px solid #DCDCDC;
  border-radius: 50px;
  padding: 9px 15px 9px 15px;
  width: 100%;
}
.message-content{
  width: max-content;
  position: relative;
}
.message-content p{
  padding: 15px;
  background-color: #4dd8cf;
  border-radius: 10px;
  color: #000000;
  width: max-content;
  position: relative;
}
.message-content img{
  height: 25px;
  width: auto;
  border-radius: 50px;
  position: relative;
  top: -9px;
  border: 4px solid #F9F9F9;
}
.right .message-content{
  float: right;
}
.right .message-content img{
  float: right;
}
.right p{
  background-color: #EFEFEF;
}
.left .message-content{
  float: left;
}
.right{
  float: right;
}
.left{
  float: left;
}
.chat-layout{
  position: relative;
}
.message{
  width: 100%;
  margin: 15px 0px 0px 0px;
}
.message-user-nav{
  display: flex;
  align-items: center;
  font-size: 17px;
  font-weight: 700;
}
.message-user-nav img{
  width: 27px;
  height: 27px;
  border-radius: 50px;
  margin: 0px 9px 0px 0px;
}
.chat-content-message{
  width: 100%;
  height: 70dvh;
  padding: 15px;
  overflow-y: auto;
}
.users-folder-add label{
  display: flex;
  align-items: center;
  width: 97%!IMPORTANT;
  cursor: pointer;
}.users-folder-add label:hover{opacity: 0.5;}.users-folder-add{
  display: flex;
  align-items: center;
  width: 100%;
  cursor: pointer;
}.users-folder-add input{
  margin: 0px 0px 0px 0px!IMPORTANT;
  width: max-content!IMPORTANT;
  border-bottom: 1px solid #DDDDDD;
}
.users-folder-add{
  display: flex;
  align-items: center;
  margin: 0px 0px 15px 0px;
  cursor: pointer;
}.users-folder-add img{
  margin: 0px 15px 0px 0px;
}
.users-folder{}
.users-folder img{
  width: auto;
  height: 25px;
  border-radius: 50px;
}
.addFavorite{

}.addFavorite input{
  width: 100%;
  outline: none;
  margin: 0px 0px 15px 0px;
}.addFavorite button{
  font-size: 15px;
  font-weight: 700;
  background-color: #4dd8cf;
  border-radius: 50px;
  padding: 9px 15px 9px 15px;
  color: #000000;
  margin: 15px 0px 0px 0px;
}
.chat-folders-layout{
  width: 100%;
  display: flex;
  align-items: center;
}
.chat-folders{
  width: calc(100% -35px);
  display: inline-flex;
  align-items: center;
  overflow: hidden;
}.chat-folders a img{
  margin: 0px 9px 0px 0px;
  line-height: 0;
}
.chat-folders a{
  width: max-content;
  display: inline-flex;
  align-items: center;
  padding: 5px 9px 5px 9px;
  border-radius: 9px;
  margin: 0px 9px 0px 0px!IMPORTANT;
}.chat-folders a:hover{
  background-color: #EFEFEF;
}
.prime-chat-menu{
  display: flex;
  min-width: max-content;
  border-right: 1px solid #DDDDDD;
  padding: 0px 0px 0px 0px;
  margin: 0px 15px 0px 0px;
}
.chat-nav{
  display: flex;
  align-items: center;
  padding: 5px 15px 15px 0px;
  width: 100%;
}.chat-nav h2{
  font-weight: 700;
  font-size: 19px;
  width: max-content;
  min-width: max-content;
  border-right: 1px solid #DDDDDD;
  margin: 0px 25px 0px 0px;
  padding: 0px 25px 0px 0px;
}.chat-nav span{
  color: #D2D2D2;
}
.chat-nav a{
  font-weight: 700;
  cursor: pointer;
  color: #A4A4A4;
  font-size: 15px;
  min-width: max-content;
  margin: 0px 9px 0px 0px;
  padding: 5px 9px 5px 9px;
  border-radius: 9px;
}.chat-nav a.active{
  color: #666666;
  background-color: #EFEFEF;
}.chat-nav a:hover{
  background-color: #EFEFEF;
}
.content{
  width: 100%;
}
.chat-layout{
  background-color: #F9F9F9;
  background-color: #FFFFFF;
  width: 100%;
  border-radius: 15px;
  padding: 15px 15px 15px 15px;
  padding: 9px 15px 0px 15px;
  display: flex;
  flex-direction: column;
  min-height: 70dvh;
  position: relative;
  max-width: 1009px;
  max-width: 100%;
  overflow: hidden;
}
.base-content{padding: 0px 0px 0px 0px!IMPORTANT;}
.chat-layout a{
  width: 100%;
  display: flex;
}
.chat-messege{
  width: 100%;
  padding: 12px 15px 12px 15px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  cursor: pointer;
}.chat-messege:hover{
  background-color: #EFEFEF;
}
.chat-messege img{
  width: auto;
  height: 45px;
  border-radius: 50px;
  margin: 0px 12px 0px 0px;
}.chat-messege-user-info{
  line-height: 1.2;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  position: relative;
}.chat-messege-user-info img{width: auto;height: 19px;cursor: pointer;}.chat-messege-user-info span{
  font-weight: 700;
  font-size: 17px;
}.chat-messege-user-info p{
  font-size: 14px;
  color: #A3A3A3;
}
.page-title-status{
  display: inline-flex;
  align-items: center;
  margin: 0px 0px 15px 0px;
  font-size: 12px;
}.page-title-status img{
  max-width: 15px;
}.page-title-status img{
  margin: 0px 9px 0px 0px;
}
.page-title-layout{
  border-bottom: 1px solid #D2D2D2;
  padding: 0px 0px 25px 0px;
  margin: 9px 0px 25px 0px;
  display: inline-flex;
  flex-direction: column;
}
.page-title-layout span{
  font-weight: 700;
}
</style>
{% endblock %}