  <div class="navigation">
    <div class="navigantion-layer">
      <div class="logo">
        <a href="/">Trave<span>lo</span></a>
      </div>
      <div class="auth-user">
        <div class="no-login">
          {%if request.user.is_authenticated %}
          <div class="add-layer">
            <div class="add_content">Создать</div>
            <div class="add-layer-content">
              <a href="">Создать путешествие</a>
              <a href="">Запись в блоге</a>
            </div>
          </div>          
          <!-- <span class="create-button">+ Создать</span> -->         
          <div class="user-nav">
            <img id="user_nav" class="user_nav" src="{{ request.user.photo.url }}" alt="">
            <div class="user-nav-layer">
              <a href="{% url 'profile' request.user.id %}">Моя страница</a>
              <a href="">Сообщения</a>
              <a href="">Поиск поездок</a>
              <a href="">Настройки</a>
              <a href="{% url 'logout' %}">Выход</a>
            </div>
          </div> 

          <script defer>         
            const user_nav = document.querySelector('.user_nav')
            const user_nav_layer = document.querySelector('.user-nav-layer')

            user_nav.addEventListener('click', () =>{
              user_nav_layer.classList.toggle('active');
            })

            document.addEventListener('click', (event) => {
              if (!user_nav_layer.contains(event.target) && event.target !== user_nav) {
                user_nav_layer.classList.remove('active');
              }
            });

            const add_content = document.querySelector('.add_content')
            const add_layer_content = document.querySelector('.add-layer-content')

            add_content.addEventListener('click', () =>{
              add_layer_content.classList.toggle('active');
            })

            document.addEventListener('click', (event) => {
              if (!add_layer_content.contains(event.target) && event.target !== add_content) {
                add_layer_content.classList.remove('active');
              }
            });
          </script>

          {%else%}
          <button class="_login_in_">Войти</button>
          {%endif%}
        </div>
      </div>
    </div>
  </div>
  
  <div class="_login" v-model="isOpen" prevent-close style="z-index: 1150">
    <div class="_login_content_">

        <div class="flex items-center justify-between" style="min-height: 75dvh;display: flex;justify-content: center;align-items: center;">
          <div class="text-layout">
          <img src="~/assets/img/planet.png" alt="" style="max-width:49px;max-height: auto;position: relative;left: -5px;margin: 0px 0px 15px 0px;">
          <span>
          Войдите в систему,
          чтобы открыть все возможности
          Trave<span style="color:#4dd8cf;">lo</span>.
          </span>
          <form method="post" action="{% url 'custom_login' %}" style="box-shadow: none;border:none;">
            {% csrf_token %}
            <!-- {{form.as_p}} -->
            <!-- <input type="text" placeholder="Электронная почта">
            <input type="password" placeholder="Пароль"> -->
            <input type="email" name="username" id="id_username" placeholder="" required>
            <input type="password" name="password" id="id_password" placeholder="" required>
            <button type="submit">Войти</button>
          </form>
         <a>Нет аккаунта? <span>Зарегистрироваться</span></a>
         <div class="copy">
          Продолжай, Вы соглашайтесь с <span>Условиями использования</span> и <span>Политикой конфиденциальности</span>, а так же с <span>Политикой использования файлов cookie</span>.
         </div>
          </div>
        </div>
      <Placeholder class="h-32" />
    </div>
  </div>


<script>

const _login = document.querySelector('._login')
const _login_in_ = document.querySelector('._login_in_')
const _body = document.querySelector('html')
const _login_content_ = document.querySelector('._login_content_')

_login_in_.addEventListener('click', () =>{
  _login.classList.toggle('active');
  _body.classList.toggle('overflow');
})

document.addEventListener('click', (event) => {
  if (!_login_content_.contains(event.target) && event.target !== _login_in_) {
    _login.classList.remove('active');
    _body.classList.remove('overflow');
  }
});


const isOpen = ref(false);
</script>

<style>

</style>
