    <!-- Окно создания путешествия -->
    <div class="create_travel_window_script">{% load static %}
     
      <form id="create_travel_window_script_form" action="{% url 'create_travel' %}" method="post" class="create-travel-form">
        {% csrf_token %}
        <!-- {{form.as_p}} -->
        <h1>Создать путешествие</h1>
        <div class="form-user-info">
          <div>
            <label for="id_gender">Я</label>
            <select name="gender" id="id_gender">
              <option value="Мужчина">Мужчина</option>
              <option value="Женщина">Женщина</option>
            </select>
          </div>
        <div>
          <label for="id_gender_search">Ищу</label>
          <select name="gender_search" id="id_gender_search" required><option value="Семью">Семью</option>
            <option value="Женщину">Женщину</option>
            <option value="Мужчину">Мужчину</option>
          </select>
        </div><div style="width: 100%;">
          <select name="from_city" id="id_from_city" class="js-chosen3" style="" required>
            {% for city in cities %}
                <option value="{{city.id}}">{{ city.name }}</option>
            {% endfor %}
            <option value="" selected disabled>Откуда?</option>
        </select>
        <style>
          .create_travel_window_script .chosen-container{
            width: 100%;
            padding: 10px;
            border: 1px solid #E1E1E1;
            border-radius: 5px;
            font-size: 15px;
          }

          .where{
            {#padding: 0!IMPORTANT;#}
            {#margin: 0!IMPORTANT;#}
          }
          .create_travel_window_script form .where{
            padding: 0!IMPORTANT;
            margin: 0!IMPORTANT;
          }
          .create_travel_window_script form .where{
            background-color: inherit;
            padding: 0!IMPORTANT;
            margin: 0!IMPORTANT;
          }
          .chosen-container-multi .chosen-choices{
            border: none!IMPORTANT;
            font-weight: 700;
          }.create_travel_window_script form textarea{
            font-family: 'Arial';
            font-size: 15px;
          }
        </style>
        </div>
      </div>
      <div class="where">
        <select name="country" id="id_country"  class="js-chosen3" style="" multiple required>
          <option value="" selected disabled>Куда?</option>
          {% for country in countries %}
          <option value="{{country.id}}">{{country.name}}</option>
          {% endfor %}
        </select>
        <!-- <label for="id_country" style="border-bottom: 1px solid rgb(225, 225, 225); padding: 0px 0px 9px; margin: 0px 0px 15px;">Куда</label>
        <div class="where-content-form">
          {% for country in countries_as %}
          <div>
            <input type="checkbox" name="country" id="{{country_id}}">
            <label for="{{country.id}}">{{country.name}}</label>
          </div>
          {% endfor %}
        </div> -->
      </div>
      <div class="form-city">
        <label for="id_city">Город, курорт</label>
        <input type="text" placeholder="Новосибирск" name="city" id="id_city" required></div>
        <div class="form-date">
          <div>
            <label for="">Когда</label>
            <input type="date" id="id_date" name="date" min="2018-01-01" max="3999-12-31" required>
          </div>
          <div>
            <label for="id_days">Кол-во дней</label>
            <input type="number" placeholder="15" style="max-width: 70px; text-align: center;" name="days" id="id_days" value="15" required>
          </div>
          {% comment %}
          <div style="flex-direction: row; align-items: center; margin: 25px 0px 0px;">
            <label for="" style="margin: 0px 15px 0px 0px;">Уже отдыхаю</label>
        <button class="relative inline-flex flex-shrink-0 border-2 border-transparent disabled:cursor-not-allowed disabled:opacity-50 focus:outline-none h-5 w-9 rounded-full focus-visible:ring-2 focus-visible:ring-primary-500 dark:focus-visible:ring-primary-400 focus-visible:ring-offset-2 focus-visible:ring-offset-white dark:focus-visible:ring-offset-gray-900 bg-gray-200 dark:bg-gray-700" role="switch" type="button" tabindex="0" aria-checked="false" data-headlessui-state="" id="nuid-2"><span class="pointer-events-none relative inline-block rounded-full bg-white dark:bg-gray-900 shadow transform ring-0 transition ease-in-out duration-200 h-4 w-4 translate-x-0 rtl:-translate-x-0">v-if<!--v-if--></span>
         </button> 
           </div>
           {% endcomment %}
        </div>
       <textarea name="description" id="id_description" cols="15" rows="2" placeholder="Опишите ваше путешествие ....." required></textarea>
       <p style="margin: 0px 0px 35px 0px;">
        <label for="id_travel_now">Уже путешествую:</label>
        <select name="travel_now" id="id_travel_now" required>
      <option value="unknown">Неизвестно</option>
    
      <option value="true">Да</option>
    
      <option value="false" selected="">Нет</option>
    
    </select>
        
        
      </p> 
       <button type="submit">Опубликовать</button>
      </form>
    </div>
  <div class="navigation">
    <div class="navigantion-layer">
      <div class="logo">
        <a href="/">Trave<span>lo</span></a>
      </div>
      <div class="auth-user">
        <div class="no-login">
          {%if request.user.is_authenticated %}
          <div class="add-layer">
            <div class="add_content">Создать</div>
            <div class="add-layer-content">
              <!-- <a id="" onclick="create_travel()" href="">Создать путешествие</a> -->
              <a id="" href="" class="no_active">Запись в блоге</a>
              <span id="create_travels" onclick="create_travel()"
              style="              
              cursor: pointer;
              width: 100%;
              margin: 0px 0px 0px 0px;
              font-size: 15px;
              font-weight: 500;
              background-color: #FFFFFF;
              padding: 15px 25px;
              transition: background-color 0.3s;
              -moz-transition: background-color 0.3s;
              -webkit-transition: background-color 0.3s;
              ">Создать путешествие</span>
              <script>
                const html = document.querySelector('html')
                const create_modal = document.querySelector('.create_travel_window_script')
                const create_travels = document.querySelector('#create_travels')
                const create_travel_window_script_form = document.querySelector('#create_travel_window_script_form')
                function create_travel(){
                  html.style.overflow = 'hidden'
                  create_modal.classList.add('active')
                }
                
                document.addEventListener('click', function(e){
                  if (!create_travel_window_script_form.contains(e.target) && create_travels !== e.target){
                    html.style.overflow = 'auto'
                    create_modal.classList.remove('active')
                  }
                })

              </script>
            </div>
          </div>          
          <!-- <span class="create-button">+ Создать</span> -->         
          <div class="user-nav">
            {%if request.user.photo.url and request.user.photo%}
            <img id="user_nav" class="user_nav" src="{{ request.user.photo.url }}" alt="">
            {%else%}
            <img id="user_nav" class="user_nav" src="" alt="">
            {%endif%}
            
            <div class="user-nav-layer">
              <a href="{% url 'profile' request.user.id %}">Моя страница</a>
              <!-- <a href="">Сообщения</a> -->
              <a href="{% url 'travels' %}">Поиск поездок</a>
              <a href="{% url 'update_user' request.user.id %}">Настройки</a>
              <a href="{% url 'logout' %}">Выход</a>
            </div>
          </div> 

          <script defer>         
            const user_nav = document.querySelector('.user_nav')
            const user_nav_layer = document.querySelector('.user-nav-layer')

            user_nav.addEventListener('click', () =>{
              user_nav_layer.classList.toggle('active');
            })

            document.addEventListener('click', (event) => {
              if (!user_nav_layer.contains(event.target) && event.target !== user_nav) {
                user_nav_layer.classList.remove('active');
              }
            });

            const add_content = document.querySelector('.add_content')
            const add_layer_content = document.querySelector('.add-layer-content')

            add_content.addEventListener('click', () =>{
              add_layer_content.classList.toggle('active');
            })

            document.addEventListener('click', (event) => {
              if (!add_layer_content.contains(event.target) && event.target !== add_content) {
                add_layer_content.classList.remove('active');
              }
            });
          </script>

          {%else%}
          <button class="_login_in_">Войти</button>
          {%endif%}
        </div>
      </div>
    </div>
  </div>
  
  <div class="_login" v-model="isOpen" prevent-close style="z-index: 1150" style="overflow:hidden;overflow-y: auto;">
    <div class="_login_content_">

        <div class="flex items-center justify-between" style="min-height: 75dvh;display: flex;justify-content: center;align-items: center;">
          <div class="text-layout">
            <div class="form1">
              <!-- <img src="~/assets/img/planet.png" alt="" style="max-width:49px;max-height: auto;position: relative;left: -5px;margin: 0px 0px 15px 0px;">
              -->
             
             
              <span>
              Войдите в систему,
              чтобы открыть все возможности
              Trave<span style="color:#4dd8cf;">lo</span>.
              </span>
              <form method="post" action="{% url 'custom_login' %}" style="box-shadow: none;border:none;">
                {% csrf_token %}
                <!-- {{form.as_p}} -->
                <!-- <input type="text" placeholder="Электронная почта">
                <input type="password" placeholder="Пароль"> -->
                <input type="email" name="username" id="id_username" placeholder="" required>
                <input type="password" name="password" id="id_password" placeholder="" required>
                <button type="submit">Войти</button>
              </form>
             <a id="new_form">Нет аккаунта? <span>Зарегистрироваться</span></a>
            </div>
            <div class="form2">
         
         
         
              <!-- <img src="{% static 'img/planet.png' %}" alt="" style="max-width:49px;max-height: auto;position: relative;left: -5px;margin: 0px 0px 15px 0px;">
               -->
              <span>

                
Начните свой пусть на Trave<span style="color:#4dd8cf;">lo</span>.
              </span>
              <form class="" action="{% url 'register_user' %}" method="post">
                {% csrf_token %}
                <!-- {{ form_reg.as_p}} -->
                <input type="email" name="email" maxlength="254" id="id_email" placeholder="Электронная почта"> 
                <input type="text" name="first_name" maxlength="100" id="id_first_name" placeholder="Имя">             
                <input type="text" name="last_name" maxlength="100" id="id_last_name" placeholder="Фамилия">    
                <input type="text" name="patronymic" maxlength="100" id="id_patronymic" placeholder="Отчество">
                 <!-- <p>
                  <label for="id_phone">Phone:</label>
                  <input type="number" name="phone" maxlength="24" id="id_phone">    
                </p> -->
                <input type="password" name="password" maxlength="128" required="" aria-invalid="true" id="id_password" placeholder="Пароль">
        
                <button type="submit">Создать аккаунт</button>
              </form>
              <a id="za_form">Есть аккаунт?<span>Войти</span></a>
            </div>
         <div class="copy">
          Продолжай, Вы соглашайтесь с <span>Условиями использования</span> и <span>Политикой конфиденциальности</span>, а так же с <span>Политикой использования файлов cookie</span>.
         </div>
          </div>
        </div>
      <Placeholder class="h-32" />
    </div>
  </div>

<style>
  .form2{
    display:none;
    text-align: left;
    && .form{
      box-shadow: none!IMPORTANT;
    }
  }
  .form2 form{
    box-shadow: none;
    border: none;
    width: 100%;
  }.form2 a{
    margin: 0 auto;
    text-align: center;
    max-width: max-content;
    display: table;
  }.form1 a{
    margin: 0 auto;
    text-align: center;
    max-width: max-content;
    display: table;
  }.form1 form{width: 100%;}
</style>
<script>
  
  const form2 = document.querySelector('.form2')
  const form1 = document.querySelector('.form1')
  const za_form = document.querySelector('#za_form')

  new_form.addEventListener('click',function(){
    form1.style.display='none'
    form2.style.display='table'
  });

  za_form.addEventListener('click', function(){
    form1.style.display='table'
    form2.style.display='none'
  });
const _login = document.querySelector('._login')
const _login_in_ = document.querySelector('._login_in_')
const _body = document.querySelector('html')
const _login_content_ = document.querySelector('._login_content_')

_login_in_.addEventListener('click', () =>{
  _login.classList.toggle('active');
  _body.classList.toggle('overflow');
})

document.addEventListener('click', (event) => {
  if (!_login_content_.contains(event.target) && event.target !== _login_in_) {
    _login.classList.remove('active');
    _body.classList.remove('overflow');
  }
});


const isOpen = ref(false);
</script>

<style>

</style>
