{% extends 'base_site.html' %}{% load static %}
{% block content %}


<div class="user-layer">
  <div class="form_layer">
    <form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <!-- {{ form.as_p }} -->


      <div class="ineteres_layer">
        <h2>Интересы</h2>
        <p>
          <label for="id_habits">Habits:</label>
          <select name="habits" id="id_habits" multiple="">
        <option value="1">Курю</option>
      
      </select>
          
          
        </p>
        <p>
          <label for="id_interests">Interests:</label>
          <select name="interests" id="id_interests" multiple="">
        <option value="1">Секс</option>
      
        <option value="2">Трах</option>
      
        <option value="3">Ебаться</option>
      
        <option value="4">Ебашить</option>
      
        <option value="5">Пирдеть</option>
      
      </select>
        </p>
      </div>
      <div class="contant_info">
        <h2>Контактная информация</h2>
        <p>
          <label for="id_city">City:</label>
          <select name="city" id="id_city">
        <option value="" selected="">---------</option>
      
        <option value="1">Москва</option>
      
      </select>
          
          
        </p>
        <p>
          <label for="id_email">Email adress:</label>
          <input type="email" name="email" value="root@root.root" maxlength="254" id="id_email">
          
          
        </p>
      </div>

    

      <div class="info">
        <h2>Основная информация</h2>
        <p>
          <label for="id_first_name">First Name:</label>
          <input type="text" name="first_name" value="Хочу нежно войти" maxlength="100" id="id_first_name">
          
          
        </p>
      
        
        <p>
          <label for="id_last_name">Last Name:</label>
          <input type="text" name="last_name" value="Во влажную киску Дианы" maxlength="100" id="id_last_name">
          
          
        </p>
      
        
        <p>
          <label for="id_patronymic">Patronymic:</label>
          <input type="text" name="patronymic" value="И целовать её грудь" maxlength="100" id="id_patronymic">
          <p>
            <label for="id_phone">Phone:</label>
            <input type="text" name="phone" value="68787987897" maxlength="24" id="id_phone">
          </p>
          
        </p>
        <p>
          <label for="id_age">Age:</label>
          <input type="number" name="age" value="0" id="id_age">           
        </p>
      </div>


    
      
      <p>
        <label for="id_photo">Avatar:</label>
        <img src="{{request.user.photo.url}}" alt="">
        На данный момент: <a href="{{request.user.photo.url}}">{{request.user.photo.url}}</a>
    <input type="checkbox" name="photo-clear" id="photo-clear_id">
    <label for="photo-clear_id">Очистить</label><br>
    Изменить:
    <input type="file" name="photo" accept="image/*" id="id_photo">
        
        
      </p>
    
      
    
    
      <div class="password_info">
        <h2>Изменение пароля</h2>

        <p>
          <label for="id_password">Новый пароль:</label>
          <input type="password" name="password" id="id_password">      
        </p>
      
        <p>
          <label for="id_confirm_password">Подтвердите пароль:</label>
          <input type="password" name="confirm_password" id="id_confirm_password">
        </p>


      </div>


      <p>
        <label for="id_description">Описание страницы:</label>
        <textarea name="description" cols="40" rows="10" id="id_description"></textarea>
      </p>
      <p>
        <label for="id_small_description">Краткое описание:</label>
        <input type="text" name="small_description" maxlength="99" id="id_small_description">
      </p>


      <button type="submit">Сохранить</button>
    </form>
  </div>
<style>
  .contant_info{
    width: 100%;
  }
  .ineteres_layer{
    width: 100%;
  }
  .form_layer{
    display: flex;
    flex-direction: column;
    width: 100%;
  }.form_layer form{
    display: flex;
    flex-direction: column;
    box-shadow: none;
    width: 100%;
    max-width: 100%;
    border: 1px solid #ffffff;
    justify-content: flex-start;
    align-items: flex-start;
    line-height: 1.9;
  }.form_layer form p{
    display: flex;
    flex-direction: column;
    font-size: 12px;
    width: 100%;
    max-width: 469px;
  }.form_layer form input{
    width: 100%;
    padding: 15px 25px;
    border-radius: 9px;
    border: 1px solid #00000019;
    background-color: #00000009;
    font-size: 15px;
    margin: 0px 0px 25px 0px;
  }
</style>
     
  </div>
</div>
<style></style>
{% endblock %}