{% extends 'base.html' %}
{% block content %}
    <div class="content">
      <!-- <h1 style="font-size: 35px;">Премиум доступ</h1> -->
      <!-- <h1 style="font-size: 35px;">Тарифы</h1>
      <p>oiasd poij fdasjdf sadiof jaosd jfoja sdlfhj sodiafjh o;sadfj sadjf sadfj oasdjf oisajd foasi fhjoiasd fjoiasd joisadj foisadjfsa 
        fsad fsadfsapodf sadjf ;sadjf psaodjf pasoj fposadj fp[sadjf p[asjdf psajdf psdajfposajdpfojsadopfj asdf sadfjsadfio;asj dfsd
        asdio jasd fjsad fjopisadj fopisadj foiasj dfoisjd fiosjdafs
        adf siad fjsaidj fiosaj dfiosaj df]]
      </p> -->
    <!-- <img src="~/assets/img/slider.png" alt=""> -->
     <!-- <div class="tarif-layer">
      <div class="tarif">
        <h2>Название тарифа</h2>
        <p>Описание</p>
        <p>Описание</p>
        <p>Описание</p>
        <p>Описание</p>
        <p>Описание</p>
        <span>1500 р.</span>
        <button class="select-tarif">Выбрать тариф</button>
      </div>
      <div class="tarif">
        <h2>Название тарифа</h2>
        <p>Описание</p>
        <p>Описание</p>
        <p>Описание</p>
        <p>Описание</p>
        <p>Описание</p>
        <span>1500 р.</span>
        <button class="select-tarif">Выбрать тариф</button>
      </div> -->
      
      <div class="tarif-premium">
        <h2>Премиум доступ &#128142;</h2>
        <p>- Предоставление возможности создавать до 5 групп чатов</p>
        <p>- Неограниченные возможности создавать новые контакты в сутки (у Махнем 10 контактов в сутки)</p>
        <p>- Добаление больше 5 фото в аккаунт + видео (в дальнейшем доработаем чтобы на простых аккаунтах была закрыта эта возможность)</p>
        <p>- Возможность размещения до 10 объявлений в профиле (в обычном сделать в дальнейшем 2 объявления)</p>
        <p>- Занчок Премиум на автарке или имени</p>
        <span>399 руб за 30 дней</span>
        <form action="{% create_payment %}" method="post">
          {% csrf_token %}
          <input name="summa" type="number" value="50" />
          <button class="select-tarif" type="submit">Купить Премиум</button>
        </div>
      </div>

     </div>
  </div>
<style></style>
{% endblock %}