{% extends 'base_site.html' %}{% load static %}
{% block content %}
<div class="content" style="width:100%;max-width: 100%;" v-if="loaded" data-aos="fade-down">
  <h1 style="font-size: 25px; font-weight: 700; margin: 0px 0px 25px;"> {{travels_title}} </h1>
<!-- <form method="GET">
  <input type="text" name="country" placeholder="Страна">
  <input type="text" name="city" placeholder="Город">
  <input type="text" name="interest" placeholder="Интерес">
  <button type="submit">Применить фильтр</button>
</form> -->


{% include 'components/search_travelers.html' %}

<ul></ul>
  {% for trip in trips %}


<a href="{% url 'trip' trip.id %}">
<div class="search-result trips wow animate__fadeInDown">

  <div class="search_trip_one_layer">
<div class="trip_time_layer">
  <div class="trip_in_time">
    <div class="time__layer">
      {{trip.trip_in_time|date:"H:i"}}
      <span>{{trip.trip_in_time|date:"d M, D"}}</span>
    </div>
    <div class="trip_city">
      {{trip.city}}
    </div>

  </div>
  <div class="trip_out_time">
    <div class="time__layer">
      {{trip.trip_out_time|date:"H:i"}}
      <span>{{trip.trip_out_time|date:"d M, D"}}</span>
    </div>
    <div class="trip_city">
      {{trip.cityin}}
    </div>
  </div>
  <svg xmlns="http://www.w3.org/2000/svg">
    <line x1="0" y1="3" x2="100%" y2="3"></line>
</svg>
</div>

<div class="trip_driver">
  <div class="trip_driver_photo">
    {% if trip.user.photo.url and trip.user.photo %}
    <img src="{{ trip.user.photo.url }}" alt="">
    {% else %}
    <img src="{% static 'avatar/user.png' %}" alt="">
    {% endif %}
  </div>
  <div class="trip_driver_info">
    {{trip.user.first_name}}
    <span>{{trip.trip_car.car.brand.name}} {{trip.trip_car.car.name}}
      <!-- Audi Q9 -->
    </span>
  </div>
</div>

<div class="trip_info">
  <div class="trip_price">
    <span>{{trip.price}} ₽</span>
    <p>
      {% if trip.free_seats == 0 %}
       <inf style="color:blueviolet;">мест нет</inf>
      {% else %}
        Осталось:  {{trip.free_seats}}
      {% endif %}      
    </p>
  </div>
  <!-- <a href="">Выбрать</a> -->
</div>


</div>
<div class="search_trip_two_layer">
  {% for other in trip.trip_others.all %}
    <span><img src="{{other.image.url}}" alt="">
      <!-- {{other.name}} -->
    </span>
  {% endfor %}  
</div>


<!-- 
{% comment %}
  <img src="{{trip.user.photo.url}}" alt="">
{% endcomment %}
  <div class="search-result-info">



    <div class="search-info-status">
      <span>{{trip.user.first_name}}, {{trip.user.age}}  · &nbsp; ·</span>&nbsp;


    </div>
      <p> 
         
      </p>
    </div> -->
</div>
</a>
{% empty %}
   Нет результаов
{% endfor %}
  </div>
</div>
<style>
/* {#  .what-search-layout {#}
{#  padding: 0px 0px 0px 0px !important;#}
{#}#} */
.base-content{background-color: inherit!IMPORTANT;}
form {
  width: 100%;
  max-width: 100%;
  border-radius: 0px;
  border: none;
  border-bottom: 2px solid #dddddd;
  box-shadow: none;
  margin: 0px 0px 25px 0px;
  background-color: #ffffff;
  padding: 0px 0px 15px 0px;
}
form:hover {
  box-shadow: none;
}
.where-layout input,
select {
  background-color: inherit !important;
  width: 100%!IMPORTANT;
}
.where select {
  background-color: inherit !important;
  width: 100%!IMPORTANT;
}.where{
  width: 100%!IMPORTANT;
}
.search-result {
  display: flex;
  width: 100%;
  margin: 0px 0px 25px 0px;
  padding: 0px 0px 25px 0px;
  border-bottom: 1px solid #dddddd;
  align-items: center;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  position: relative;
  top: 0;
  opacity: 9;
}.search-result:hover{
  position: relative;
  opacity: 0.7;
  top: 9px;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
}
.search-result img {
  width: auto;
  object-fit: cover;
  width: 135px;
  height: 135px;
  border-radius: 15px;
  margin: 0px 15px 0px 0px;
}
.search-result-info {
  display: flex;
  flex-direction: column;
}
.search-result-info h2 {
  font-weight: 700;
  font-size: 17px;
  margin: 0px 0px 5px 0px;
}
.search-result-info p {
  border-top: 1px solid #dddddd;
  margin: 9px 0px 9px 0px;
  padding: 9px 0px 0px 0px;
  font-size: 15px;
}
.search-info-status {
  display: inline-flex;
  align-items: center;
  font-size: 15px;
}
.search-info-status img {
  height: 17px;
  width: auto;
}
.search-info-status img {
  margin: 0px 5px 0px 0px;
}
</style>
{% endblock %}