{% extends 'base_site.html' %}{% load static %}
{% block content %}
<div class="content" style="width:100%;max-width: 100%;" v-if="loaded" data-aos="fade-down">
  <h1 style="font-size: 25px; font-weight: 700; margin: 0px 0px 25px;"> {{users_title}} </h1>
<!-- <form method="GET">
  <input type="text" name="country" placeholder="Страна">
  <input type="text" name="city" placeholder="Город">
  <input type="text" name="interest" placeholder="Интерес">
  <button type="submit">Применить фильтр</button>
</form> -->


{% include 'components/search_users.html' %}

<ul></ul>
  {% for user in users_list %}
<a href="{% url 'profile' user.id %}">
<div class="search-result wow animate__fadeInDown">
  <img src="{{user.photo.url}}" alt="">
  <div class="search-result-info">
    <h2>
      {{user.first_name}} {{user.last_name}}
  </h2>
      <p> {{user.description}} </p>
      <div class="user_inteterests">
      {%for i in user.interests.all%}
      
      <span class="user_interes"><img src="{{i.image.url}}" alt=""> {{i.name}}</span>


      {%endfor%}
    </div>
    </div>
</div>
</a>
{% empty %}
   Нет результаов
{% endfor %}
  </div>
</div>
<style>
  .user_inteterests{
    display: flex;
    align-items: center;
  }
  .user_interes{
    display: inline-flex;
    height: 19px;
    width: max-content;
    margin: 0px 15px 0px 0px;
    flex-wrap: wrap;
  }.user_interes img{
    height: 19px!IMPORTANT;
    width: auto!IMPORTANT;
    object-fit: cover;
    display: flex;
    margin: 0px 5px 0px 0px!IMPORTANT;
  }
  .what-search-layout {
  padding: 0px 0px 0px 0px !important;
}
form {
  width: 100%;
  max-width: 100%;
  border-radius: 0px;
  border: none;
  border-bottom: 2px solid #dddddd;
  box-shadow: none;
  margin: 0px 0px 25px 0px;
  background-color: #ffffff;
  padding: 0px 0px 15px 0px;
}
form:hover {
  box-shadow: none;
}
.where-layout input,
select {
  background-color: inherit !important;
  width: 100%!IMPORTANT;
}
.where select {
  background-color: inherit !important;
  width: 100%!IMPORTANT;
}.where{
  width: 100%!IMPORTANT;
}
.search-result {
  display: flex;
  width: 100%;
  margin: 0px 0px 25px 0px;
  padding: 0px 0px 25px 0px;
  border-bottom: 1px solid #dddddd;
  align-items: center;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  position: relative;
  top: 0;
  opacity: 9;
}.search-result:hover{
  position: relative;
  opacity: 0.7;
  top: 9px;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
}
.search-result img {
  width: auto;
  object-fit: cover;
  width: 135px;
  height: 135px;
  border-radius: 115px;
  margin: 0px 15px 0px 0px;
}
.search-result-info {
  display: flex;
  flex-direction: column;
}
.search-result-info h2 {
  font-weight: 700;
  font-size: 17px;
  margin: 0px 0px 5px 0px;
}
.search-result-info p {
  border-top: 1px solid #dddddd;
  margin: 9px 0px 9px 0px;
  padding: 9px 0px 0px 0px;
  font-size: 15px;
}
.search-info-status {
  display: inline-flex;
  align-items: center;
  font-size: 15px;
}
.search-info-status img {
  height: 17px;
  width: auto;
}
.search-info-status img {
  margin: 0px 5px 0px 0px;
}
</style>
{% endblock %}